* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  justify-content: center;
  color: rgba(187, 163, 163, 0.781);
  background: url(Perfil02.png) no-repeat bottom center scroll;
  background-position: 30% 45%;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}
.container .card {
position: relative;
width: 280px;
height: 400px;
margin: 30px;
box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
border-radius: 16px;
background: rgba(73, 102, 73, 0.2);
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
border-top: 2px solid rgba(219, 32, 188, 0.5);
border-bottom: 2px solid #dd2ba8e6;
border-right:2px solid rgba(241, 12, 230, 0.61);
border-left:2px solid rgba(236, 34, 186, 0.5);
}
.container .card .content {
    padding: 20px;
    text-align:center;
    transform:translateY(100px);
    opacity:0;
    transition:0.5s;
}
.container .card:hover .content {
    transform:translateY(0px);
    opacity:1;
}
.container .card .content h2 {
    position: top;
    top: -80px;
    right: 30px;
    font-size: 2em;
    color: rgba(106, 58, 218, 0.829) ;
    pointer-events: none;

}

.container .card .content h3 {
font-size: 1.8em;
color:rgb(59, 124, 39);
z-index: 1;
}
.container .card .content p {
    font-size: 1em;
    color: rgb(238, 241, 236);
    font-weight: 300;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: rgb(233, 176, 216);
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.img-perfil {
    width: 150px;
height: 150px;
border: 5px groove  rgb(208, 144, 224);
border-radius: 60%;
margin-top: 30px;
}